#root {
  display: flex;
  flex-direction: column;
  max-width: 1920px;
  margin: 0 auto;
  padding: 0;
  text-align: center;
  height: 100vh;
  background-color: #a89b9d;
}

.main-area {
  display: flex;
  height: 100%;
}

h3 {
  font-size: 1.2rem;
  margin-bottom: 5%;
}
