#education-card {
  --header-bg: #807166;
  --aside-bg: #baa495;
  --preview-bg: #c8c6c2;
  --text-light: #ffffff;
  --text-dark: #141414;
  display: flex;
  flex-direction: column;
  width: 0 auto;
  height: 100%;
}

.education-form {
  display: grid;
  grid-template-columns: 1fr 2fr;
  row-gap: 10px;
}

.education-form label {
  text-align: end;
  padding-right: 4rem;
}

.education-form input[name='graduationDate'] {
  width: 50%;
}

.education-form input[name='schoolCity'],
.education-form input[name='schoolState'],
.education-form input[name='schoolCountry'] {
  width: 25%;
}

.education-form input {
  width: 0 auto;
}

.education-buttons {
  margin-top: 2rem;
}

.education-buttons button {
  margin: 0 2rem;
  width: 100px;
  height: 25px;
}

.school-list {
  margin-top: 5%;
  overflow-y: scroll;
  -ms-text-overflow: none;
  scrollbar-width: none;
}

.school-list::-webkit-scrollbar {
  display: none;
}

.list-item {
  display: flex;
  justify-content: space-between;
  margin: 3% auto;
  padding: 2% 4%;
  width: 90%;
  border: 1pt solid var(--aside-bg);
  border-radius: 10px;
  text-align: start;
}

.edit {
  display: flex;
  width: 20%;
}

.list-icons {
  width: 30px;
  height: 30px;
  margin: 0 5px;
}

.list-icons:hover {
  cursor: pointer;
}
