#education-card {
  display: flex;
  flex-direction: column;
  width: 0 auto;
}

.education-form {
  display: grid;
  grid-template-columns: 1fr 2fr;
  row-gap: 10px;
}

.education-form label {
  text-align: end;
  padding-right: 4rem;
}

.education-form input {
  width: 0 auto;
}

.education-buttons {
  margin-top: 2rem;
}

.education-buttons button {
  margin: 0 2rem;
  width: 100px;
  height: 25px;
}