#education-card {
  display: flex;
  flex-direction: column;
}

form {
  display: grid;
  grid-template-columns: 40% 60%;
  row-gap: 10px;
}

label {
  text-align: end;
  padding-right: 4rem;
}

input {
  width: 100%;
}

.buttons {
  margin-top: 2rem;
}

button {
  margin: 0 2rem;
  width: 100px;
  height: 25px;
}